@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

h1{
    color: #9CC1D9;
    font-family: 'Nanum Gothic', sans-serif;
    padding-bottom: 20px;
    font-size: 40px;
    text-align: center;
}

.report-page{
    width: 70%;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: auto;
}

.form{
    margin: 0 auto 15px;
    border: 1px solid gray;
    border-radius: 25px;
    padding : 20px 15px 20px 15px;
}

.content{
    padding-top: 15px;
    text-align: center;
}

#script{
    border: 1px solid gray;
    text-align: center;
    padding: 30px 0 30px 0;
    margin: 15px 20px 0 20px;
    float: left;
}

#speed{
    font-size: 10px;
}

.talk_speed{
    border: 1px solid gray;
    text-align: center;
    padding: 30px 15px 30px 15px;
    margin: 15px 20px 0 20px;
    float: left;
}


.info_stt{
    visibility: hidden;
}

#comment{
    margin: 50px 30px 20px 30px;
    text-align: left;
}