@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

h1{
    color: #9CC1D9;
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    text-align: center;
}

.wait-page{
    border: solid 1px gray;
    text-align: center;
    margin: 30px 100px -50px 100px;
    padding: 30px 80px 20px 80px;
}

#notice{
    font-size: 18px;
    margin-bottom: 50px;
    font-family: 'Nanum Gothic', sans-serif;
}

#Q1, #Q2, #Q3{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    border: solid 1px gray;
    border-radius: 25px;
    text-align: center;
    float: center;
    padding: 30px 0px 30px 0px;
}

.question{
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 50px;
}

#check{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: right;
    margin : -20px -50px 30px 0px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    vertical-align:middle;
    margin: -20px -30px 0 0;
    float: right;
}
  
/* Hide default HTML checkbox */
.switch input {display:none;}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #9CC1D9;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #9CC1D9;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

a{
    color: #000000;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}