<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>인트로</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/intro.css" type="text/css">
</head>

<body>
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <header class="headerintro">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-2">
                            <div class="header__logo">
                                <a href="./index.html"><img src="../static/img/logo.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Header Section End -->

            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 p-0">
                    <div class="categories__item categories__large__item set-bg">
                        <div class="categories__text">
                            <h1>새내기로(로)</h1>
                            <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                                edolore magna aliquapendisse ultrices gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="../static/img/studenthome.jpg">
                                <!-- a태그에 학생홈페이지 url 넣기 -->
                                <a herf="./studenthome.html">
                                    <div class="categories__text">
                                        <h4>학생</h4>
                                        <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                                            edolore magna aliquapendisse ultrices gravida.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="../static/img/teacherhome.jpg">
                                <!-- a태그에 교사홈페이지 url 넣기 -->
                                <a herf="./studenthome.html">
                                    <div class="categories__text">
                                        <h4>교사</h4>
                                        <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                                            edolore magna aliquapendisse ultrices gravida.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>기능</h4>
                    </div>
                </div>
            </div>
            <div class="row property__gallery">
                <div class="col-lg-6 col-md-6 col-sm-6 mix women">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="../static/img/1.jpg">
                        </div>
                        <div class="product__item__text">
                            <h5><a href="#">Buttons tweed blazer</a></h5>
                            <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                                edolore magna aliquapendisse ultrices gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mix women">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="../static/img/1.jpg">
                        </div>
                        <div class="product__item__text">
                            <h5><a href="#">Buttons tweed blazer</a></h5>
                            <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                                edolore magna aliquapendisse ultrices gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mix women">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="../static/img/1.jpg">
                        </div>
                        <div class="product__item__text">
                            <h5><a href="#">Buttons tweed blazer</a></h5>
                            <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                                edolore magna aliquapendisse ultrices gravida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-6 mix women">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="../static/img/1.jpg">
                        </div>
                        <div class="product__item__text">
                            <h5><a href="#">Buttons tweed blazer</a></h5>
                            <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                                edolore magna aliquapendisse ultrices gravida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <section class="banner set-bg" data-setbg="../static/img/10.jpg">
        <section class="shop-cart spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="section-title">
                            <h4>질문</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop__cart__table">
                            <table>
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="cart__product__item">
                                            <div class="cart__product__item__title">
                                                <h6>입학 후 학업계획에 대해 말해보세요.</h6>
                                            </div>
                                        </td>
                                        <td class="cart__price">기본질문</td>
                                        <td class="cart__quantity">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart__product__item">
                                            <div class="cart__product__item__title">
                                                <h6>스팸메일의 정의를 설명하고, 현재 기술동향에 대해 설명해보세요.</h6>
                                            </div>
                                        </td>
                                        <td class="cart__price">컴퓨터공학과</td>
                                        <td class="cart__quantity">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart__product__item">
                                            <div class="cart__product__item__title">
                                                <h6>한일무역규제에 대해 어떻게 생각하나요?</h6>
                                            </div>
                                        </td>
                                        <td class="cart__price">경영학과</td>
                                        <td class="cart__quantity">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="../static/img/logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            cilisis.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright__text">
                        <p>Copyright</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>
