<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>면접 진행</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/inter_setting.css" type="text/css">
</head>

<body>
    <p>
        시작 = ctrl + X / 정지 = ctrl + Z / 일시정지 = Space / 캡쳐 = ctrl + S
    </p>
    
    <!-- 질문 받아 띄우기 -->
    <div> {{ }} </div>
    <div> 1 / 3 </div>
    
    <!-- herf에  -->
    <div class="button" id="start" herf="">
        <Strong> 질문 시작 </Strong>
    </div>

    <!-- herf에 q2 html로 -->
    <div class="button" id="end" herf="">
        <Strong> 다음으로 > </Strong>
    </div>
</body>

</html>