{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>면접 진행</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/inter_setting.css' %}" type="text/css">

</head>

<body>

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h5>3. Interview</h5>
            </div>
            <div class="card-body">
                <!-- 질문 받아 띄우기 -->
                <div> {{ interview_question }} </div>
                <div> 3 / 3 </div>
            </div>
            <div class="card-footer text-muted">
                <!-- 질문 끝 -->
                <input type="button" id="startbutton" name="{{user.id}}" report="{{reportID}}" value="질문시작">
                <!-- 질문 끝 -->
                <input type="button" id="finishbutton" name="{{user.id}}" onClick="location.href='{% url 'website:wait' reportID=reportID %}'" value="다음으로">
            </div>
        </div>


        <script>
            $(function() {
                $('#startbutton').click(function() {
                    var userID = $(this).attr('name')
                    var reportID = $(this).attr('report')
                    $.ajax({
                        url: 'record/',
                        method: 'POST',
                        data: {
                            name: 'start',
                            click: true,
                            question: 3,
                            userID: userID,
                            reportID: reportID
                        },
                        success: function(data) {
                            if (response.result != 'success') {
                                console.error(response.data)
                                return;
                            }
                        }
                    });
                });
            });
            $(function() {
                $('#finishbutton').click(function() {
                    var userID = $(this).attr('name')
                    $.ajax({
                        url: 'record_stop/',
                        method: 'POST',
                        data: {
                            name: 'finish',
                            click: true,
                            question: 3,
                            userID: userID
                        },
                        success: function(data) {
                            if (response.result != 'success') {
                                console.error(response.data)
                                return;
                            }
                        }
                    });
                });
            });

        </script>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
