{% load static %}
<link href="{% static 'css/myVideo.css' %}" rel="stylesheet">
<script>
    $(function () {
        $('.toggle-btn').click(function (e) {
            e.preventDefault();
            url = $(e.currentTarget).attr('href');
            result = $(e.currentTarget).text();
            check = confirm(result + '하시겠습니까?');

            if (check == true) {
                $.ajax({
                    url: 'myVideo/detail/reportID=' + reportID,
                    method: "POST",
                    data: {
                        'result': result,
                    },
                })
            }
        });
    });
</script>

<div class="myVideo-page">
    <h1>내 영상</h1>
    <div class="form">
        <!-- for 문으로 존재하는 면접 수만큼 뜨게 하기 -->
        <div class="info">
            <div class="content">
                <p>제목 / 생성일자 : {{report.pub_date | date:'m-d,H:i' }}</p>
                <div class="toggle-btn" onclick="this.classList.toggle('active')">
                    <div class="inner-circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>