{% load static %}
<link href="{% static 'css/myVideo.css' %}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
    $(document).ready(function () {
        var check = $("input[type='checkbox']");
        check.click(function () {
            var reportID = $(this).attr('report')
            $.ajax({
                url: 'detail/'+reportID,
                method: 'POST',
                data: {
                    result: reportID
                },
                success: function (response) {
                    alert("담임선생님께 해당 모의 면접이 공유되었습니다.")
                    return;
                },
                error: function () {
                    alert('서버와의 통신에서 문제가 발생했습니다');
                },
            })
        });
    });
</script>

<div class="myVideo-page">
    <h1>내 영상</h1>
    <div class="form">
        <div class="info">
            <div class="content">
                {% for i in report %}
                <p>{{ i.title }} / 생성일자 : {{i.pub_date}}</p>
                <label class="switch">
                    <input type="checkbox" report="{{reportID}}">
                    <span class="slider round"></span>
                </label>
                {% endfor %}
            </div>
        </div>
    </div>
</div>