{% load static %}
<link href="{% static 'css/report.css' %}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<div class="report-page">
    <h1>내 면접 리포트</h1>
    <div class="form">
        <div class="info">
            <p id="title">{{report.title}}</p>
            <p id="data">{{report.pub_date }}</p>
        </div>
        <div class="content">
            <!-- 대본 -->
            <div class="stt">
                <p id="script">답변내용 <br><br> {{report.script}}</p>
            </div>
            <!-- 말하기 속도 -->
            <div class="talk_speed">
                <p id="speed">* 분당 말하기 속도가 계산되어 제공됩니다. <br>
                    한글은 270 ~ 330자, 영어는 110 ~ 160단어를 말하면 적당한 속도입니다 *</p>
                <p>현재 분당 말하기 속도 : {{report.speed}}</p>
            </div>
            <div class="info_stt">
                <p id="info_rep">{{report.repetition}}</p>
                <p id="info_adverb">{{report.adverb}}</p>
            </div>
            <!-- 차트 -->
            <div class="chart" style="margin:0 auto;">
                <div class="repetition" style="float:left; padding: 0 50px 0 50px; ">
                    <canvas id="repetition" width="250" height="250" float:left;></canvas>
                </div>
                <div class="adverb" style="float:left;">
                    <canvas id="adverb" width="250" height="250"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/report.js' %}"></script>
</div>