<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>내 면접 리포트</title>
</head>
<body>
    <div class="report-page">
        <div class="form">
            <h1>내 면접 리포트</h1>
            <div class="info">
                <!-- 사용자가 설정한 제목 또는 default(제목1, 제목2) -->
                <p id="title">{{report.title}}</p>
                <!-- 생성한 시각 형식은 아래와 같이 -->
                <p id="data">{{report.pub_date | date:'Y-m-d D h:i' }}</p>
            </div>
            <div class="content">
                <!-- src=""에 비디오 주소 넣기 -->
                <video src="" controls>
                    현재 브라우저는 비디오를 지원하지 않습니다.
                </video>
                <div class="stt">
                    <!-- 대본 불러오기 -->
                    <p>{{report.script1}}</p>
                    <!-- js로 차트로 만들예정-->
                    <!-- 예진 : 반복어와 횟수 가져오기-->
                    <!-- ex) 저는 5
                            AI 4 -->
                    <p>{{report.repetition}}</p>
                    <!-- 예진 : 부사어와 횟수 가져오기 -->
                    <!-- ex) 음 5
                            아 4 -->
                    <p>{{report.adverb}}</p>
                    <!-- 말하기 속도 -->
                    <p>계산기준 설명해주기</p>
                    <!-- 예진 : 음절수(영 : 단어수) 가져오기, 적절한 속도인지 True/False 가져오기 -->
                    <p>{{report.speed}}</p>
                </div>
                <!-- 댓글이 존재하면 댓글 띄우기 -->
                {%if report.comment1 %}
                <p>{{report.comment1}}</p>
            </div>
            <!-- 댓글이 존재하면 댓글 띄우기 -->
            <p>댓글</p>
        </div>
    </div>
</div>