{% extends 'stu_template.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/report.css' %}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<div class="report-page">
    <h1>내 면접 리포트</h1>
    <div class="info">
        <p id="title">{{report.title}}</p>
        <!-- 생성일자 -->
        <p id="date">{{ report.pub_date }}</p>
    </div>
    <!-- 첫 번째 질문 -->
    <div class="form1">
        <div class="content">
            <p class="question">Q. {{report.question1}}</p>
            <!-- src=""에 비디오 주소 넣기 -->
            <video id="videoElement1" controls width='70%'>
                {% if report.video1 %}
                <source src="{{ report.video1.url }}" type="video/mp4" />
                현재 브라우저는 비디오를 지원하지 않습니다.
                {% endif %}
            </video>
            <!-- 대본 -->
            <div class="stt">
                <p id="script1"><답변내용> <br><br> {{report.script1}}</p>
            </div>
            <!-- 말하기 속도 -->
            <div class="talk_speed">
                <p id="speed1">* 분당 말하기 속도가 계산되어 제공됩니다. <br>
                    270 ~ 330자를 말하면 적당한 속도입니다 *</p>
                <p>현재 분당 말하기 속도 : {{report.speed1}}</p>
                <p>{{report.sCorrect1}}</p>
            </div>
            <div class="info_stt">
                <p id="info_rep1">{{report.repetition1}}</p>
                <p id="info_adverb1">{{report.adverb1}}</p>
            </div>
            <!-- 차트 -->
            <div class="chart" style="display: table; margin: 0 auto;">
                <div class="repetition" style="float:left; padding-right: 50px; ">
                    <canvas id="repetition1" width="250" height="250" float:left;></canvas>
                </div>
                <div class="adverb" style="float:left;">
                    <canvas id="adverb1" width="250" height="250"></canvas>
                </div>
            </div>
            {%if report.comment1 %}
            <p class="comment">{{report.comment1}}</p>
            {% else %}
            <p class="comment">피드백이 존재하지 않습니다.</p>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/report.js' %}"></script>

    <!-- 두 번째 질문 -->
    <div class="form2">
        <div class="content">
            <p class="question">Q. {{report.question2}}</p>
            <!-- src=""에 비디오 주소 넣기 -->
            <video id="videoElement2" controls width='70%'>
                {% if report.video2 %}
                <source src="{{ report.video2.url }}" type="video/mp4" />
                현재 브라우저는 비디오를 지원하지 않습니다.
                {% endif %}
            </video>
            <!-- 대본 -->
            <div class="stt">
                <p id="script2"><답변내용> <br><br> {{report.script2}}</p>
            </div>
            <!-- 말하기 속도 -->
            <div class="talk_speed">
                <p id="speed2">* 분당 말하기 속도가 계산되어 제공됩니다. <br>
                    270 ~ 330자를 말하면 적당한 속도입니다 *</p>
                <p>현재 분당 말하기 속도 : {{report.speed2}}</p>
                <p>{{report.sCorrect2}}</p>
            </div>
            <div class="info_stt">
                <p id="info_rep2">{{report.repetition2}}</p>
                <p id="info_adverb2">{{report.adverb2}}</p>
            </div>
            <!-- 차트 -->
            <div class="chart" style="display: table; margin: 0 auto;">
                <div class="repetition" style="float:left; padding-right: 50px; ">
                    <canvas id="repetition2" width="250" height="250" float:left;></canvas>
                </div>
                <div class="adverb" style="float:left;">
                    <canvas id="adverb2" width="250" height="250"></canvas>
                </div>
            </div>
            {%if report.comment2 %}
            <p class="comment">{{report.comment2}}</p>
            {% else %}
            <p>피드백이 존재하지 않습니다.</p>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/report.js' %}"></script>


    <!-- 세 번째 질문 -->
    <div class="form3">
        <div class="content">
            <p class="question">Q. {{report.question3}}</p>
            <!-- src=""에 비디오 주소 넣기 -->
            <video id="videoElement3" controls width='70%'>
                {% if report.video3 %}
                <source src="{{ report.video3.url }}" type="video/mp4" />
                현재 브라우저는 비디오를 지원하지 않습니다.
                {% endif %}
            </video>
            <!-- 대본 -->
            <div class="stt">
                <p id="script3"><답변내용> <br><br> {{report.script3}}</p>
            </div>
            <!-- 말하기 속도 -->
            <div class="talk_speed">
                <p id="speed3">* 분당 말하기 속도가 계산되어 제공됩니다. <br>
                    270 ~ 330자를 말하면 적당한 속도입니다 *</p>
                <p>현재 분당 말하기 속도 : {{report.speed3}}</p>
                <p>{{report.sCorrect3}}</p>
            </div>
            <div class="info_stt">
                <p id="info_rep3">{{report.repetition3}}</p>
                <p id="info_adverb3">{{report.adverb3}}</p>
            </div>
            <!-- 차트 -->
            <div class="chart" style="display: table; margin: 0 auto;">
                <div class="repetition" style="float:left; padding-right: 50px; ">
                    <canvas id="repetition3" width="250" height="250" float:left;></canvas>
                </div>
                <div class="adverb" style="float:left;">
                    <canvas id="adverb3" width="250" height="250"></canvas>
                </div>
            </div>
            {%if report.comment3 %}
            <p id="comment">{{report.comment3}}</p>
            {% else %}
            <p>피드백이 존재하지 않습니다.</p>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/report.js' %}"></script>
</div>
{% endblock %}