{% load static %}
<link href="{% static 'css/resultIDPW.css' %}" rel="stylesheet">

<div class="find-page">
    <h1>아이디 찾기</h1>
    <div class="form">
        <form class="IDPW-form" method="post" action="">
            <div class="result">
                <!-- 해당하는 회원의 아이디 출력 -->
                <p id="id">아이디 : {{ userID }}</p>
            </div>
            <div class="button">
                <!-- href 뒤에 로그인url 삽입 -->
                {% if student == 0 %}
                <input type="submit" id="signin" onClick="location.href='{% url 'website:teacherSignin' %}'" value="로그인">
                {% else %}
                <input type="submit" id="signin" onClick="location.href='{% url 'website:studentSignin' %}'" value="로그인">
                {% endif %}
                <!-- href 뒤에 비밀번호찾기url 삽입 -->
                <input type="submit" id="findPW" onClick="location.href='{% url 'website:findPW' student=student %}'" value="비밀번호 찾기">
                <!-- href 뒤에 홈url 삽입 -->
                {% if student == 0 %}
                <input type="button" id="cancle" onClick="location.href='{% url 'website:teacherHome' %}'" value="홈으로">
                {% else %}
                <input type="button" id="cancle" onClick="location.href='{% url 'website:studentHome' %}'" value="홈으로">
                {% endif %}
            </div>
        </form>
    </div>
</div>