{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>새내기路(로)</title>

    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- Css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/intro.css' %}" type="text/css">

    
</head>

<body>
    <!-- 상단 바 시작 -->
    <nav id="Topbar" class="navbar navbar-expand-md navbar-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand col-xl-1 col-lg-1" href="{% url 'website:studentHome' %}">
                <img src="{% static 'img/logo.png' %}" width="auto" height="30" class="d-inline-block align-top" alt="">
            </a>
            <ul class="navbar-nav mr-auto">
                <!-- herf에 내 영상으로 연결 -->
                <li class="nav-item"><a class="nav-link" href="{% url 'website:myVideo' %}">내 영상</a></li>
                <!-- herf에 내 질문으로 연결 -->
                <li class="nav-item"><a class="nav-link" href="{% url 'website:myQuestion' %}">내 질문</a></li>
                <!-- herf에 질문 리스트로 연결 -->
                <li class="nav-item"><a class="nav-link" href="{% url 'website:questionList' %}">질문 리스트</a></li>
            </ul>
            <ul class="navbar-nav ml-auto" style="margin-right: 35px;">
                <div class="nav-item">
                    {% if request.session.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.session.user}}</span>
                        {% if user.image %}
                        <img class="img-profile rounded-circle" src="{{ user.image.url }}">
                        {% else %}
                        <img class="img-profile rounded-circle" width="30" height="30" src="{% static 'img/user.svg' %}">
                        {% endif %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'website:mypage' student=1 %}">Mypage</a>
                        <a class="dropdown-item" href="{% url 'website:signoff' %}">Logout</a>
                        <!-- <div class="dropdown-divider"></div> -->
                    </div>
                </li>
                {% else %}
                <!-- 로그인 페이지로! -->
                <a class="nav-link" href="{% url 'website:studentSignin' %}" id="user" role="button">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"> Log in </span>
                </a>
                {% endif %}
                </div>
            </ul>
        </div>
    </nav>
    <!-- 상단 바 끝 -->

    {% block content %}

    {% endblock %}

    <!-- 풋터 시작 -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright__text">
                        <p>Copyright SSU Software18 made by 말하는 감자들(수현,아현,혜원,예진)</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- 풋터 끝 -->
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/home.min.js' %}"></script>

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
