{% load static %}
<link href="{% static 'css/studentVideo.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script type="text/javascript" src="{% static 'js/check.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#feedbackModify1').hide();
        $('#show1').click(function () {
            $('#feedbackContent1').attr('style', "display:none;");
            $('#button1').hide();
            $('#feedbackModify1').show();
            return false;
        });
    });
    $(document).ready(function () {
        $('#feedbackModify2').hide();
        $('#show2').click(function () {
            $('#feedbackContent2').attr('style', "display:none;");
            $('#button2').hide();
            $('#feedbackModify2').show();
            return false;
        });
    });
    $(document).ready(function () {
        $('#feedbackModify3').hide();
        $('#show3').click(function () {
            $('#feedbackContent3').attr('style', "display:none;");
            $('#button3').hide();
            $('#feedbackModify3').show();
            return false;
        });
    });
</script>

<div class="student-interview-page">
    <!-- ~에 해당 학생의 이름 출력하게 하기 ex) 이아현의 면접 영상-->
    <h1 id="info">{{ report.student.username }}의 면접 영상</h1>
    <!-- ./questionSend.html 지우고 예상질문 보내기 페이지 url 넣기! -->
    <button id="q_send" class="btn btn-outline-secondary"
        onclick="window.open('{% url 'website:questionSend' studentID=report.student.userID %}','예상질문 보내기','width=600,height=600,location=no,status=no,scrollbars=yes');">예상질문
        전송</button>
    <br><br><br>
    <div class="info">
        <!-- 제목 -->
        <p id="title">{{ report.title }}</p>
        <!-- 생성일자 -->
        <p id="date">{{ report.pub_date }}</p>
    </div>

    <!-- 모의 면접 영상 1 -->
    <div class="form1">
        <div class="content">
            <!-- ~~~~에 면접질문 출력하기 -->
            <p id="question">Q. {{ report.question1 }}</p>
            <!-- src=""에 비디오 주소 넣기 -->
            {% if report.video1 %}
            <video src="{{ report.video1.url }}" controls width='70%'>
                현재 브라우저는 비디오를 지원하지 않습니다.
            </video>
            {% else %}
            <video src="" controls width='70%'>
                현재 브라우저는 비디오를 지원하지 않습니다.
            </video>
            {% endif %}

            <p id="feedback1">
                <피드백>
            </p>

            <!--존재하는 피드백 출력-->
            {% if report.comment1 %}
            <div class="feedbackRead">
                <div class="feedbackTable">
                    <table>
                        <tr id="feedbackContent1">
                            <!-- 피드백 작성자 이름 출력 -->
                            <td style="font-weight: bold;">{{ teacher.username }} </td>
                            <!-- 피드백 내용 출력 -->
                            <td style="padding-left: 30px; font-size: 19px;">{{ report.comment1 }}</td>
                        </tr>
                    </table>
                </div>
                <div id="button1" style="float: right; margin-right: 40px">
                    <button id="show1" class="btn btn-outline-secondary">수정</button>
                    <button type="button" class="btn btn-outline-secondary"
                        onclick="f_DeleteConfirm1({{ report.id }})">삭제</button>
                </div>
                <div id="feedbackModify1">
                    <form method="post">
                        <span class="write_in"><input type="text" name="feedback1" value="{{ report.comment1 }}"
                                style="border:none;"></span>
                        <button type="submit" class="btn btn-outline-secondary">확인</button>
                    </form>
                </div>

            </div>
            {% else %}
            <!-- 피드백 작성 폼 -->
            <div class="feedbackWrite">
                <form method="post">
                    <span class="write_in"><input type="text" placeholder="피드백을 입력하세요" id="feedbackInput"
                            name="feedback1" style="border:none;"></span>
                    <button type="submit" class="btn btn-outline-secondary">확인</button>
                </form>
            </div>
            <p id="notFeedback">피드백이 존재하지 않습니다.</p>
            {% endif %}
        </div>
    </div>

    <!-- 모의 면접 영상 2 -->
    <div class="form2">
        <div class="content">
            <!-- ~~~~에 면접질문 출력하기 -->
            <p id="question">Q. {{ report.question2 }}</p>
            <!-- src=""에 비디오 주소 넣기 -->
            {% if report.video2 %}
            <video src="{{ report.video2.url }}" controls width='70%'>
                현재 브라우저는 비디오를 지원하지 않습니다.
            </video>
            {% else %}
            <video src="" controls width='70%'>
                현재 브라우저는 비디오를 지원하지 않습니다.
            </video>
            {% endif %}

            <p id="feedback2">
                <피드백>
            </p>

            <!--존재하는 피드백 출력-->
            {% if report.comment2 %}
            <div class="feedbackRead">
                <div class="feedbackTable">
                    <table>
                        <tr id="feedbackContent2">
                            <!-- 피드백 작성자 이름 출력 -->
                            <td style="font-weight: bold;">{{ teacher.username }} </td>
                            <!-- 피드백 내용 출력 -->
                            <td style="padding-left: 30px; font-size: 19px;">{{ report.comment2 }}</td>
                        </tr>
                    </table>
                </div>
                <div id="button2" style="float: right; margin-right: 40px">
                    <button id="show2" class="btn btn-outline-secondary">수정</button>
                    <button type="button" class="btn btn-outline-secondary"
                        onclick="f_DeleteConfirm2({{ report.id }})">삭제</button>
                </div>
                <div id="feedbackModify2">
                    <form method="post">
                        <span class="write_in"><input type="text" name="feedback2" value="{{ report.comment2 }}"
                                style="border:none;"></span>
                        <button type="submit" class="btn btn-outline-secondary">확인</button>
                    </form>
                </div>
            </div>
            {% else %}
            <!-- 피드백 작성 폼 -->
            <div class="feedbackWrite">
                <form method="post">
                    <span class="write_in"><input type="text" placeholder="피드백을 입력하세요" id="feedbackInput"
                            name="feedback2" style="border:none;"></span>
                    <button type="submit" class="btn btn-outline-secondary">확인</button>
                </form>
            </div>
            <p id="notFeedback">피드백이 존재하지 않습니다.</p>
            {% endif %}
        </div>
    </div>

    <!-- 모의 면접 영상 3 -->
    <div class="form3">
        <div class="content">
            <!-- ~~~~에 면접질문 출력하기 -->
            <p id="question">Q. {{ report.question3 }}</p>
            <!-- src=""에 비디오 주소 넣기 -->
            {% if report.video3 %}
            <video src="{{ report.video3.url }}" controls width='70%'>
                현재 브라우저는 비디오를 지원하지 않습니다.
            </video>
            {% else %}
            <video src="" controls width='70%'>
                현재 브라우저는 비디오를 지원하지 않습니다.
            </video>
            {% endif %}

            <p id="feedback3">
                <피드백>
            </p>

            <!--존재하는 피드백 출력-->
            {% if report.comment3 %}
            <div class="feedbackRead">
                <div class="feedbackTable">
                    <table>
                        <tr id="feedbackContent3">
                            <!-- 피드백 작성자 이름 출력 -->
                            <td style="font-weight: bold;">{{ teacher.username }} </td>
                            <!-- 피드백 내용 출력 -->
                            <td style="padding-left: 30px; font-size: 19px;">{{ report.comment3 }}</td>
                        </tr>
                    </table>
                </div>
                <div id="button3" style="float: right; margin-right: 40px">
                    <button id="show3" class="btn btn-outline-secondary">수정</button>
                    <button type="button" class="btn btn-outline-secondary"
                        onclick="f_DeleteConfirm3({{ report.id }})">삭제</button>
                </div>
                <div id="feedbackModify3">
                    <form method="post">
                        <span class="write_in"><input type="text" name="feedback3" value="{{ report.comment3 }}"
                                style="border:none;"></span>
                        <button type="submit" class="btn btn-outline-secondary">확인</button>
                    </form>
                </div>
            </div>
            {% else %}
            <!-- 피드백 작성 폼 -->
            <div class="feedbackWrite">
                <form method="post">
                    <span class="write_in"><input type="text" placeholder="피드백을 입력하세요" id="feedbackInput"
                            name="feedback3" style="border:none;"></span>
                    <button type="submit" class="btn btn-outline-secondary">확인</button>
                </form>
            </div>
            <p id="notFeedback">피드백이 존재하지 않습니다.</p>
            {% endif %}
        </div>
    </div>
</div>