{% extends 'stu_template.html' %}
{% load static %}
{% block content %}

    <!-- 내용 시작 -->
    <section class="categories">
        <div class="container-fluid set-bg"  data-setbg="../../static/img/새내기로.jpg">
            <header class="headerintro">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-2">

                        </div>
                    </div>
                </div>
            </header>
            <!-- Header Section End -->

            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item">
                        <div class="categories__text">
                            <h1>새내기로(路)</h1>
                            <a herf=" ">면접 시작</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="../../static/img/분홍.png">
                                <div class="categories__text">
                                    <h4>내 영상</h4>
                                    <p>모의 면접 영상들을 질문별/제목별/날짜별로 관리하는 기능</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="../../static/img/연파랑.png">
                                <div class="categories__text">
                                    <h4>내 질문</h4>
                                    <p>별표 질문과 사용자 작성 질문, 교사에게 공유 받은 질문 및 AI 생성질문을 확인하는 기능</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="../../static/img/연분홍.png">
                                <div class="categories__text">
                                    <h4>질문 리스트</h4>
                                    <p>40여개의 공통질문과 학과별 질문을 제공하는 기능</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 내용 끝 -->
    
{% endblock %}
