{% extends 'tea_template.html' %}
{% load static %}
{% block content %}

<!-- 내용 시작 -->
<div class="container-fluid set-bg" data-setbg="../../static/img/10.jpg">
    <div class="row">
        <div class="col-lg-6 p-0">
            <div class="categories__item categories__large__item">
                <div class="categories__text">
                    <h1>새내기로(路)</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header Section End -->
<!-- 내용 끝 -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>학생 관리</h4>
                </div>
            </div>
        </div>

        <div class="container">

            <!--학생 card 반복 / herf에는 학생면접영상 페이지로 -->
            <a herf="">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <!--학생 이미지-->
                                <img src="../../static/img/3.jpg" alt="" class="img-rounded img-responsive" />
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <!--학생이름-->
                                <h4>강동원</h4>
                                <!--학생학교, 반 번호-->
                                <small>감자고등학교, 1학년 1반</small>
                                <!--학생전화번호-->
                                <p>010-1234-5678</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>

    </div>
</section>

{% endblock %}
